header {
    color: $theme-color;
    height: 55px;

    // @include flex(flex-end);

    position: fixed;

    @media (min-width: $mobile-view) {
        @include flex(flex-end);
        width: 100vw;
    }
    
    nav {
        width: 100vw;
        height: 100vh;
        
        background: $theme-color;
        position: relative;

        z-index: 50;

        clip-path: circle(10% at 120% -20%);
        transition: clip-path 1s ease-in-out;

        @media (min-width: $mobile-view) {
            width: 45%;
            height: 100%;
            background-color: $background-color;
            clip-path: none;

            margin-right: 40px;
        }

        ul {
            @include flex(space-evenly);
            flex-direction: column;
            
            font-weight: bold;
            font-size: 8rem;
            
            height: 100%;
            
            color: $background-color;
            li {
                list-style: none;
            }

            @media (min-width: $mobile-view) {
                flex-direction: row;
                color: $theme-color;
                font-size: 2.2rem;
            }
        }
    }

    .nav_active{
        clip-path: circle(100%);

    }

    .header_ham{
        position: absolute;
        right: 0;
        top: 20px;

        z-index: 200;

        @media (min-width: $mobile-view) {
            display: none;
        }
    } 
}