.home__thanks{
    padding-bottom: 230px;
    opacity: 0;
    
    @media (min-width: $mobile-view){
        width: 90vw;
        transform: translate(-48%, -20%);
        padding-bottom: 20%;


    }
    
    @media (min-height: $tablet-view){
        
        transform: translate(-45%, -20%);
        padding-bottom: 100%;
    }

    &_contact{

        width: 300px;
        margin-top: 20px;
        &_socials {            
            @include flex(space-between);
            gap: 30px;
            width: fit-content;
            margin-top: 10px;
            font-size: 4rem;

        }
    }

    &_madeWith{
        margin-top: 40px;
        color: $submerge-color;
        font-size: 1.7rem;
        ul {
            list-style: none;
            font-size: 1.5rem;
            line-height: 20px;
            font-weight: bold;
            display: flex;
            gap: 40px;
        }
    }
}

#home__thankYou{
    @media (min-width: $mobile-view){
        font-size: 6rem;
    }

}