.workHolder{
    &__container{
        width: 100vw;
        padding: 30px;
        @include flex(space-between);

    }

    &__prj{
    &_logo{
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    &_info{
     width: 60%;
        // background-color: antiquewhite;


        &_title{
            font-size: 3rem;
            font-weight: bold;
        }

        &_desc{
            font-size: 1.4rem;
        }
    }
}
}