
.workHolder{



    &__container{
        width: 100vw;
        padding: 30px 0;
        @include flex(space-between);
        cursor: pointer;
        margin: 15px 0;
        @media (min-width: $mobile-view){
            width: 800px;
        }

    }

    &__prj{
    &_logo{
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    &_info{
        // background-color: antiquewhite;
        flex-grow: 1;
        margin-left: 30px;
        &_title{
            font-size: 3rem;
            font-weight: bold;
        }

        &_desc{
            font-size: 1.4rem;
        }
    }
}
}
