$theme-color: rgb(143, 167, 223);
$background-color: rgb(10, 12, 19);
$submerge-color : #1A2539;
$tablet-view: 1366px;
$mobile-view: 650px;


$header-height: 55px;

$hk_theme: #993762;
$emo_theme: #048C5C;