@import "./scss/abstract/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Raleway";
}

html {
  font-size: 60.5%;
  overflow-x: hidden;
}

body{
  background-color: $background-color;
  color: white;
  height: 100vh;
}

button {
  outline: none;
  border: none;
}

p{
  margin-bottom: 10px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $theme-color;
  border-radius: 500px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($color: $theme-color, $amount: 25);
}