@import "./abstract/variables";
@import "./abstract/mixins";



@import "../components/sass/Header.style.scss";
@import "../scss/home.style.scss";
@import "../components/sass/ScrollBar.style.scss";
@import "../components/sass/Hamburger.style.scss";
@import "../components/sass/Heading.style.scss";
@import "../components/sass/ThankYou.style.scss";


.highlight {
    color: $theme-color;
}

.title_text {
    font-size: 7rem;
    font-weight: 900;

    margin-bottom: 10px;
}

.title_small {
    font-size: 4rem;
}
