@import "./abstract/variables";
@import "./abstract/mixins";



@import "../components/sass/Header.style.scss";
@import "./home.style.scss";
@import "./work.style.scss";
@import "../components/sass/ScrollBar.style.scss";
@import "../components/sass/Hamburger.style.scss";
@import "../components/sass/Heading.style.scss";
@import "../components/sass/ThankYou.style.scss";
@import "../components/sass/shared/HomePicBlock.style.scss";
@import "../components/sass/shared/WorkHolder.scss";
@import "../components/sass/shared/ProjecInfo.scss";

.highlight {
    color: $theme-color;
}

.highlight_hk {
    color: $hk_theme;
}

.highlight_emo {
    color: $emo_theme;
}

.title_text {
    font-size: 7rem;
    font-weight: 900;

    margin-bottom: 10px;
}

.title_small {
    font-size: 4rem;
}
