.home{
    @include flex(center,flex-start);
    width: 100vw;
    height: 100vh;

    // overflow: scroll;
    // position: fixed;


&__container{
    width: 100vw;
    // min-height: 70vh;    
    height: 100vh;
    // @include flex(space-between);
    flex-direction: column;

}

&__sitting_avater {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    img{
    width: 200px;
    object-fit: cover;
    }
}
&__title {
    opacity: 0;
    color: $theme-color;
    transform: translateY(-20px);

    animation: title_init 1s ease-in 3s normal forwards;
}

&__text_info{

    align-self: flex-start;
    margin-left: 60px;
    height: 100vh;
    position: relative;
    z-index: -1;
    position: absolute;
    top: 350px;
    // background-color: aquamarine;

    @include flex(flex-start, flex-start);
    gap: 200px;
    flex-direction: column;
    
    .subtitle {
        font-size: 3rem;
        font-weight: bold;

        opacity: 0;
        transform: translateX(-20px);
        animation: subtitle_init 1s ease-in 3.5s normal forwards;

        // background-color: khaki;


        span {  
            display: block;
        }
    }
}

&__course {
    opacity: 0;
    transform: rotateX(180deg); 
}

&__work{
    opacity: 0;

}

p{   
    
    font-size: 1.8rem;
    line-height: 23px;
}
}

@keyframes title_init {

    50% {
        opacity: 0.5;
        color: $theme-color;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        color: white;
    }
}

@keyframes subtitle_init {


    100% {
        transform: translateX(0);
        opacity: 1;
    }
}