.work {

    width: 100vw;
    @include flex(space-between);
    
    &__name_title{
        font-size: 4rem;
        font-weight: bolder;
        margin-left: 40px;
    }

    &__container {
        width: 80%;
        margin-top: calc(#{$header-height} + 30px);
        position: relative;
        z-index: 1;
    }

    &__timeline {
        width: 80%; 
        &_bar{
        min-height: 400px;
        width: 2px;
        background:linear-gradient(to top,  $theme-color, $background-color);
        position: absolute;
        left: 20px;
        display: none;
        }

        // &_projects{
          
        // }
    }
}